# requirements.txt
openai
langgraph
langchain
streamlit
python-docx
fpdf
scikit-learn
nltk
requests
tqdm
PyMuPDF
python-magic
pypdf
pydot
graphviz
langchain_anthropic
tavily-python
langchain_community
langchain_openai